@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-accent-light;
  }

  body {
    @apply bg-background text-primary;
  }
}

@layer components {
  .nav-link {
    @apply hover:text-accent transition-colors duration-200;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    animation: shimmer 1.5s infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }

  @keyframes pulse-soft {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.8;
    }
  }

  .animate-pulse-soft {
    animation: pulse-soft 3s ease-in-out infinite;
  }

  .glass-effect {
    @apply bg-background/70 backdrop-blur-md border border-accent/5;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-dots-pattern {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: 8px 8px;
}