<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ege Çam</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&display=swap"
        rel="stylesheet">
</head>

<nav>
    <ul>
        <div class="nav-list">
            <li><a href="/" class="return-link">return home</a></li>
        </div>
    </ul>

    <div class="title-div">
        <a href="/" class="header-link">
            <h1 class="header-title">ege çam</h1>
        </a>
    </div>

    <div></div>

    <img class="header-img" src="../static/headerimg1.jpg" alt="my lovely face">
</nav>

<body>
    <div>
        <h2 class="cv-header">Software Developer</h2>
        <p class="cv-desc">Description:
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>
    <div>
        <h2 class="cv-title">Experience</h2>
        <p>Date</p>
        <p>Intern IVR Solutions Developer at AssisTT</p>
    </div>
    <div>
        <h2 class="cv-title">Education</h2>
        <p>Date</p>
        <p>Yeditepe University</p>
        <p>Faculty of Computer and Information Sciences</p>
        <p>Information Systems and Technologies, BSc.</p>
    </div>
    <div>
        <h2 class="cv-title">Projects</h2>
        <ul>
            <li>
                <p>Project Name</p>
                <p>Project Description</p>
                <p>Project Link</p>
            </li>
        </ul>
        <ul>
            <li>
                <p>Project Name</p>
                <p>Project Description</p>
                <p>Project Link</p>
            </li>
        </ul>
        <ul>
            <li>
                <p>Project Name</p>
                <p>Project Description</p>
                <p>Project Link</p>
            </li>
        </ul>
    </div>
    <div>
        <h2 class="cv-title">Skills</h2>
        <ul>
            <li>
                <p>Software Development</p>
                <ul>
                    <li class="cv-list-item">Python</li>
                    <li class="cv-list-item">Django</li>
                    <li class="cv-list-item">Java</li>
                    <li class="cv-list-item">JavaScript</li>
                    <li class="cv-list-item">HTML</li>
                    <li class="cv-list-item">CSS</li>
                    <li class="cv-list-item">SQL</li>
                    <li class="cv-list-item">MongoDB</li>
                </ul>
                <p>Human Languages</p>
                <ul>
                    <li class="cv-list-item">Turkish, Native</li>
                    <li class="cv-list-item">English, Fluent</li>
                    <li class="cv-list-item">German, Beginner</li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <h2 class="cv-title">Interests</h2>
        <ul>
            <li>Making music at <a class="cv-link">SoundCloud</a></li>
            <li>Taking photographs at <a class="cv-link">@filmbyege</a></li>
            <li>Writing at <a class="cv-link">my blog</a></li>
        </ul>
    </div>
    <div>
        <h2 class="cv-title">Contact</h2>
        <ul>
            <li class="cv-list-item"><a class="cv-link">LinkedIn</a></li>
            <li class="cv-list-item"><a class="cv-link">GitHub</a></li>
            <li class="cv-list-item"><a class="cv-link">Mail</a></li>
        </ul>
    </div>

</body>

</html>